<html>
    <head>
        <title>Kit  </title>      
        <link rel="stylesheet" type="text/css"href="bootstrap.css"/>
        <link rel="stylesheet" type="text/css"href="semantic.css"/>    
        <link rel="stylesheet" href="icon.css"/>    
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" href="bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" />
        <script type="text/javascript" src="semantin.min.js" ></script>
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body class="img-responsive" style="background: url(de1.jpg); background-size: cover;">
<!--============================================================================================================-->
                                        <!--  NavBar  -->
<!--============================================================================================================-->
       <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">KIT</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/<%= item.regNo %>/academics">Academics</a></li>
                <li><a href="#">Attendance</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
<!--==============================================================================================================-->
                                         <!--  Content  -->
<!--===============================================================================================================-->
        <%  var error ;if (error) { %>
           <div class="alert alert-danger"><%= error %></div>
         <% } %>
      <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
              <ul class="nav nav-sidebar">
                <li class="active"><a href="#"><%= item.username %> <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Attendance</a></li>
                <li><a href="<%= item.regNo %>/academics">Academics</a></li>
                <li><a href="#">Exam Schedule</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
              </div>
                      <center>
             <div class="ui container segment" style="width:35%; margin-top:2em;  margin-left:2em; margin-bottom: 1.5em">
      <h1 class="ui header" style="margin : 0 auto;">Profile</h1><br>
                  <div class=" placeholder">
                      <img src="uploads/<%= item.pic %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"><br>
                        <h2 style="color:#ECCF9E;  text-align:center"><%= item.name %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">Reg No: <%= item.regNo %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">DOB: <%= item.dob %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">Mobile: <%= item.mobile %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">Blood Group: <%= item.bloodGroup %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">Community: <%= item.community %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">Dept: <%= item.dept %></h4>
                        <h4 style="color:#ECCF9E;  text-align:center">Email: <%= item.Email %></h4>
                  </div>
            </center
          </div>
     </div>

</body>
</html>