<html>
    <head>
        <title>Student Info</title>

        <link rel="stylesheet" href="bootstrap.css"/>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="width:25%;">
        <h1 style="margin:10 auto;">Student Details</h1>
        <ul class="list-group">
            <li class="list-group-item">Name :<%= item.name %></li>
            <li class="list-group-item">Register Number :<%= item.regNo %></li>        
            <li class="list-group-item">Semester :<%= item.semester %></li>        
            <li class="list-group-item">Department :<%= item.dept %></li>        
            <li class="list-group-item">English :<%= item.sub1 %></li>        
            <li class="list-group-item">Mathematics :<%= item.sub2 %></li>        
            <li class="list-group-item">Physics :<%= item.sub3 %></li>        
            <li class="list-group-item">Chemistry :<%= item.sub4 %></li>        
            <li class="list-group-item">Subject :<%= item.sub5 %></li>        
            <li class="list-group-item">Subject :<%= item.sub6 %></li>        
<!--            <li class="list-group-item">sub1</li>        -->
                    
                    </ul>
    </div>
    
    
    </body>
</html>