<html>
    <head>
        <title>Student Info</title>
        <link rel="stylesheet" href="bootstrap.css"/>
       <link rel="stylesheet" href="bootstrap.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
      <% console.log(item.marks); item.marks.map((item)=>{ console.log(item) %>
        <% if(item.semester > 4){ %>
        <div class="container" style="width:25%;">
            <h1 style="margin:10 auto;">Student Details</h1>
            <ul class="list-group">
                <li class="list-group-item">Name :<%= item.name %></li>
                <li class="list-group-item">Register Number :<%= item.regNo %></li>        
                <li class="list-group-item">Semester :<%= item.semester %></li>        
                <li class="list-group-item">Department :<%= item.dept %></li>        
                <li class="list-group-item">subject1 :<%= item.sub1 %></li>        
                <li class="list-group-item">subject2 :<%= item.sub2 %></li>        
                <li class="list-group-item">subject3 :<%= item.sub3 %></li>        
                <li class="list-group-item">subject4 :<%= item.sub4 %></li>        
                <li class="list-group-item">subject5 :<%= item.sub5 %></li>        
                <li class="list-group-item">subject6 :<%= item.sub6 %></li>            
            </ul>
        </div>
        <% } %>
        <% else if(item.semester < 5){ %>
        <div class="container" style="width:25%;">
            <h1 style="margin:10 auto;">Student Details</h1>
            <ul class="list-group">
                <li class="list-group-item">Name :<%= item.name %></li>
                <li class="list-group-item">Register Number :<%= item.regNo %></li>        
                <li class="list-group-item">Semester :<%= item.semester %></li>        
                <li class="list-group-item">Department :<%= item.dept %></li>        
                <li class="list-group-item"><%= sub1 %> :<%= item.sub1 %></li>        
                <li class="list-group-item"><%= sub2 %> :<%= item.sub2 %></li>        
                <li class="list-group-item"><%= sub3 %> :<%= item.sub3 %></li>        
                <li class="list-group-item"><%= sub4 %> :<%= item.sub4 %></li>        
                <li class="list-group-item"><%= sub5 %> :<%= item.sub5 %></li>        
                <li class="list-group-item"><%= sub6 %> :<%= item.sub6 %></li>            
            </ul>
        </div>
        <% } %>
        <% }) %>
    
    
    </body>
</html>